{% extends 'base.html' %}

{% block content %}
Welcome to myTweets

<div id='tweets'>
    Loading ...
</div>

<script>
    const tweetsElement = document.getElementById("tweets")
    // tweetsElement.innerHTML = 'Loading...'

    // var el1 ="<h1>hello 1</h1>"
    // var el2 ="<h1>hello 2</h1>"
    // var el3 ="<h1>hello 3</h1>"
    // tweetsElement.innerHTML = el1 + el2 + el3

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/tweets"
    const responseType = "json"

    function formatTweetElement(tweet) {
        var formattedTweet = "<div id='tweet-" + tweet.id + "'><p>" + tweet.content + "</p></div>"
        return formattedTweet
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalTweetStr = ""
        var i;
        for (i=0; i<listedItems.length; i++) {
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }

        tweetsElement.innerHTML = finalTweetStr
        //console.log(listedItems)
    }
    xhr.send()

</script>

{% endblock content %}